{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span>{{ current_user.full_name }} <i class="caret"></i></span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header bg-light-blue">
                  <img src="{{ current_user.avatar }}" class="img-circle" alt="User Image" />
                  <p>
                    {{ current_user.username }}
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">设置</a>
                  </div>
                  <div class="pull-right">
                    <a href="{{ url_for('logout') }}" class="btn btn-default btn-flat">注销</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
{%- endblock navbar %}
{% block sidebar -%}
        <!-- sidebar: style can be found in sidebar.less -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ current_user.avatar }}" alt="User Image" class="img-circle">
            </div>
            <div class="pull-left info">
              <p>{{ current_user.full_name }}</p>
              <a href="#">
                <i class="fa fa-circle text-success"></i>
               在线
              </a>
            </div>
          </div>
          <ul class="sidebar-menu">
          <li class="header">admin</li>
            <li class="active">
              <a href="{{ url_for('introduction') }}">
                <i class="fa fa-dashboard"></i> <span>简介</span>
              </a>
            </li>
            <li class="active">
              <a href="{{ url_for('list_message') }}">
                <i class="fa fa-dashboard"></i> <span>微信消息管理</span>
              </a>
            </li>
            <li class="treeview">
               <a href="#">
                <i class="fa fa-folder"></i>
                <span>用户管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{{ url_for('create_user') }}">
                    <i class="fa fa-circle-o"></i>
                    添加用户
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('list_user') }}">
                    <i class="fa fa-circle-o"></i>
                    用户列表
                  </a>
                </li>
              </ul>
            </li>

            <li class="treeview">
               <a href="#">
                <i class="fa fa-folder"></i>
                <span>对话管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{{ url_for('create_conversation') }}">
                    <i class="fa fa-circle-o"></i>
                    添加对话
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('list_conversation') }}">
                    <i class="fa fa-circle-o"></i>
                    对话列表
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>通用</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{{ url_for('login') }}">
                    <i class="fa fa-circle-o"></i>
                    登录
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('logout') }}">
                    <i class="fa fa-circle-o"></i>
                    注销
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        <!-- /.sidebar -->
{%- endblock sidebar %}
 {% block content -%}

{%- endblock content %}
